@import url('https://fonts.googleapis.com/css?family=Mina:400,700');
$white: #D2D3D3;
$black: #212121;
$orange: #F27420;
$blue: #021521;
$blueExhange: #1B262D;
$grey: #1B262D;
$greyHard: #504f4f;
$gerIntense: #0c0c0c;
$red: #F95A62;
$green: #78C653;
$guardian: linear-gradient(9deg, #000F18 50%, #0D3044 100%);

.text-danger {
  color: $red !important;
}

.text-success {
  color: $green !important;
}

.table-ticker {
  a{
    color:$white;
    text-decoration:none ;
  }
  span {
    font-size: 12px;
  }

  table {
    text-align: center;

    th {
      padding: 4px 0;
      border-top: none;
      color: $white;
      font-weight: normal;
      font-size: 12px;
      border-bottom: 1px solid $white;
    }

    td {
      padding: 4px 0;
      border-top: none;
      color: $white;
      font-size: 12px;
    }
  }
}

.white-text {
  color: $white;
}

.exchange-wrapper {
  background-image: none !important;
  background-color: $gerIntense;
}

.exchange-field {
  background-color: #1B262D;
  border-radius: 5px;
}

.exchange-price-wrapper {
  min-width: 320px;

  h1 {
    font-size: 3.5rem;
  }

  h1,
  span {
    color: $white;
  }
}

.text-grey {
  color: grey !important;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $gerIntense;
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif;

  .liveprice-wrapper {
    background-image: $guardian;
    padding: 15px;
  }

  .live-price-table {
    color: $white;
    font-size: 12px;

    thead th {
      border-bottom: none;
      border-top: none;
    }

    td,
    th {
      border-top: 0.1px solid $grey;
    }
  }

  .btn-outline-warning {
    color: $orange;
    border-color: $orange;

    &:hover {
      background-color: $orange;
      border-color: $orange;
    }
  }

  .logo-menu {
    margin-bottom: 9px;
  }

  #exchange-nav {
    background-color: $blueExhange !important;
    padding: 0 20px;
    height: 30px;

    a {
      color: $white;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: white;
      }
    }
  }

  .login-nav {
    border-right: 1px solid #D2D3D3;
  }
}
