@import url('https://fonts.googleapis.com/css?family=Mina:400,700');
$white: #D2D3D3;
$black: #212121;
$orange: #F27420;
$blue: #021521;
$blueExhange: #1B262D;
$grey: #1B262D;
$greyHard: #504f4f;
$gerIntense: #0c0c0c;
$red: #F95A62;
$green: #78C653;
$blueWrapper: #1B262D;
$guardian: linear-gradient(9deg, #000F18 50%, #0D3044 100%);
.tooltip-inner{
  background-color: $blue;
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Mina';
  border: 2px solid $grey;
  padding: 10px;
}
.text-white{
  color:$white !important;
}
.exchange-form {
  label {
    color: $white;
    font-size: 12px;
    margin-bottom: 3px;
  }
  div{
    width: 100%;
  }
  input {
    width: 100%;
    background-color: #333F47;
    border: 1px solid #444;
    color: white;
    height: 30px;
    &:focus {
      border: 1px solid $orange;
    }
  }

  .circle-span-sell {
    float: right;
    font-size: 10px;
    margin-top: 6px;
    cursor: pointer;
    color:#805457;
      &:hover{
        color:$red;
      }
    }
    .circle-span-buy {
      float: right;
      font-size: 10px;
      margin-top: 6px;
      cursor: pointer;
      color:#566D4A;
      &:hover{
        color:$green;
        }
      }

  }
  button{
    font-size: 12px;
    margin-top: 7px;
    height: 25px;
    font-weight: bold;
    &:nth-child(1){
      background-color:$green;
      width: 45%;
      color:$grey;
      border: none;
      &:hover{
        background-color:#BBE0AA;
      }
    }
    &:nth-child(2){
      background-color:$red;
      color:$grey;
      width: 45%;
      border: none;
      &:hover{
        background-color:#FC8086;
      }
    }

}

.nav-tabs {
  border-bottom: 1px solid #444;
  padding: 11px 5px 0 18px;

  .nav-link {
    color: $white !important;
    cursor: pointer;
  }

  .active {
    background-color: transparent !important;
    color: $white;
    border-bottom: solid 1px $blueWrapper !important;
    border-right: solid 1px #444 !important;
    border-left: solid 1px #444!important;
    border-top: solid 1px #444!important;
  }
}

.tab-form-wrapper {
  border-right: solid 1px #444;
  border-left: solid 1px #444;
  border-bottom: solid 1px #444;
}

.text-danger {
  color: $red !important;
}

.text-success {
  color: $green !important;
}

.table-ticker {
  a {
    color: $white;
    text-decoration: none;
  }

  span {
    font-size: 12px;
  }

  table {
    text-align: center;

    tr {
      border: 1px solid #444;
    }

    th {
      padding: 4px 0;
      border-top: none;
      color: $white;
      font-weight: normal;
      font-size: 12px;
      border-bottom: 1px solid #444;
    }

    td {
      padding: 4px 0;
      border-top: none;
      color: $white;
      font-size: 12px;
    }
  }
}

.white-text {
  color: $white;
}

.exchange-wrapper {
  background-image: none !important;
  background-color: $gerIntense;
}

.exchange-field {
  background-color: $blueWrapper;
  border-radius: 5px;
  border: 1px solid #444;
}

.exchange-price-wrapper {
  min-width: 320px;

  h1 {
    font-size: 3.5rem;
  }

  h1,
  span {
    color: $white;
  }
}

.text-grey {
  color: grey !important;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $gerIntense;
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif;

  .liveprice-wrapper {
    background-image: $guardian;
    padding: 15px;
  }

  .live-price-table {
    color: $white;
    font-size: 12px;

    thead th {
      border-bottom: none;
      border-top: none;
    }

    td,
    th {
      border-top: 0.1px solid $grey;
    }
  }

  .btn-outline-warning {
    color: $orange;
    border-color: $orange;

    &:hover {
      background-color: $orange;
      border-color: $orange;
    }
  }

  .logo-menu {
    margin-bottom: 9px;
  }

  #exchange-nav {
    background-color: $blueExhange !important;
    padding: 0 20px;
    height: 30px;

    a {
      color: $white;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }
  }

  .login-nav {
    border-right: 1px solid #D2D3D3;
  }
}
